*{
    box-sizing: border-box;
}

.boxes{
    content: "";
    clear: both;
    display: block;
    width: 100%;
}

[class*="box"]{
    float: left;
    padding: 15px;
    background-color: rosybrown;
}

.box1 {width: 100%;}
.box2 {width: 100%;}
.box3 {width: 100%;}
.box4 {width: 100%;}
.box5{width: 100%;}

.header {
    background: #ea00ff; 
   
  } 
  
.box1 {
  background: #c06fca; 
}

.box2 {
  background: #ff9100;
}

.box3 {
  background: #e66747; 
}

.box4 {
  background: #f33b23; 
}

.box5 {
  background: #e22333;
}


@media only screen and (max-width: 1000px){
    .box1 {width: 100%;}
    .box2 {width: 100%;}
    .box3 {width: 100%;}
    .box4 {width: 100%;}
    .box5{width: 100%;}
    [class*="box"]{
        background: #96066b;
    }
  .header{
      width: 100%;
      background: #c94ca3; 
  }
}